<div class="main-panel">
    <div class="content-wrapper">
      <div class="card col-8">
        <div class="card-body">
          <div class="titleSec">
            <h2>Summary Report</h2>
          </div>
          <div class="row">
            <div class="form-group col-6">
                <label for="bank"><b>Bank Name:</b></label>
                <select name="bank"
                class="form-control"
                id="bank"
                required>
                  <option value="">Select Bank Name</option>
                  <% bank.msg.forEach(function(item2,index) { %>
                    <option value="<%=item2.bank_id%>"><%=item2.bank_name%></option>
                    <% }); %>
                </select>
              </div>

              <div class="form-group col-6">
                <label for="branch"><b>Branch Name:</b></label>
                <select name="branch"
                class="form-control"
                id="branch"
                required>
                  <option value="">Select Branch Name</option>
                </select>
              </div>


              <div class="col-sm-12 row">
                <div class="form-group col-12">
                  <label for="agent"><b>Select Agent:</b></label>
                  <select name="agent_code" class="form-control" id="agent_code" required>
                    <option value="">Select Agent</option>
                  </select>
                </div>
  
                <div class="form-group col-4" style="margin-left: 15vw;">
                  <input
                    type="submit"
                    value="SUBMIT"
                    class="btn btn-primary btn-block"
                    id="downloadButton"
                  />
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#bank').change(function(){
      var bankId=$(this).val();
        $.ajax({
            type: "POST",
            url: "/super-admin/report_branch_name",
            data: { bank_id: bankId },
            success: function(response) {
              console.log(response.SUCCESS.branchData.msg)
             $('#branch').empty();
  
              response.SUCCESS.branchData.msg.forEach(function(resData) {
                  $('#branch').append('<option value="' + resData.branch_code + '">' + resData.branch_name + '</option>');
              });
             
            },
          error: function (error) {
            console.log(error);
          //   tbody.empty();
          },
        });
    });
  </script>

<script>
 $('#branch').change(function(){
  var bank = $('#bank').val();
  var branch = $('#branch').val();
  var agent = $('#agent_code').val();
        $.ajax({
            type: "POST",
            url: "/super-admin/agent_data_report",
            data: { bank_id: bank, branch_id: branch, agent_code: agent},
            success: function(response) {
              console.log(response)
             $('#agent_code').empty();
  
              response.SUCCESS.resdata.msg.forEach(function(resData) {
                  $('#agent_code').append('<option value="' + resData.agent_code + '">' + resData.agent_name + '</option>');
              });
             
            },
          error: function (error) {
            console.log(error);
          //   tbody.empty();
          },
        });
    });
</script>