<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>login</title>
  <link rel="stylesheet" href="/login/style.css">
  <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<section>
  <div class="content">

    <div class="left">
      <img src="/admin_assets/images/logo_new.png" alt="icon">
      <!-- <h1>VIBELY</h1> -->
    </div>

    <div class="right">
      <div class="title">
        <h2>Welcome</h2>
        <!-- <hr /> -->
      </div>
      <div class="form">
        <form action="/admin/login" method="post">
          <div class="inputbox">
            <label>User Name</label>
            <input type="text" placeholder="Enter your User Name" name="email" value="" required>
          </div>
          <!-- <div class="inputbox">
            <label>Email</label>
            <input type="email" placeholder="Enter your Email ID" required>
          </div> -->
          <div class="inputbox">
            <label>Password</label>
            <input type="password" placeholder="Enter your Password" name="password" value="" required>
          </div>
          <div class="create">
            <button type="submit">Login</button>
          </div>
          
        </form>
        
      </div>
    </div>

  </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- partial -->


<% if (error.length > 0) { %>
  <script>
    toastr.error('<%= error %>')
  </script>
<% } else if (success.length > 0) { %>
  <script>
    toastr.success('<%= success %>')
  </script>
<% } %>
  
</body>
</html>
