<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-12">
      <div class="card-body">
        <div class="titleSec">
          <h2>Reset Password</h2>
        </div>
        <div class="row">
          <div class="form-group col-5">
              <label for="bank"><b>Bank Name:</b></label>
              <select name="bank"
              class="form-control"
              id="bank"
              required>
                <option value="">Select Bank Name</option>
                <% data.msg.forEach(function(item2,index) { %>
                <option value="<%=item2.bank_id%>"><%=item2.bank_name%></option>
                <% }); %>
                
              </select>
            </div>

            <div class="form-group col-5"> 
              <label for="branch"><b>Branch Name:</b></label>
              <select name="branch"
              class="form-control"
              id="branch"
              required>
                <option value="">Select Branch Name</option>
              </select>
            </div>

            <div class="form-group col-2" style="margin-top: 29px;">
              <button class="btn btn-outline-success" type="button" id="submitBtn">Submit</button>
            </div>
          </div>

          <table class="table table_bank" id="showAgentDtls" style="width:100%">
            <thead>
              <tr>
                <th>Sl. No.</th>
                <th>Agent Code</th>
                <th>Agent Name</th>
                <th>Mobile</th>
                <th>Generate</th>
                <th>Show</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

      </div>
    </div>
  </div>
</div>


<script>
 $('#bank').on('change', function(){
  var bankId=$(this).val();
      $.ajax({
          type: "POST",
          url: "/super-admin/reset_branch",
          data: { bank_id: bankId },
          success: function(response) {
            // console.log(response);
            // console.log(response.SUCCESS.branchData.msg)
           $('#branch').empty();
           $('#branch').append(`<option value="">Select Branch Name</option>`)

            response.SUCCESS.branchData.msg.forEach(function(resData) {
                $('#branch').append('<option value="' + resData.branch_code + '">' + resData.branch_name + '</option>');
            });
            if($('#user_type').val() != 'B')
            $('#br_div').show()
           
          },
        error: function (error) {
          // console.log(error);
        //   tbody.empty();
        $('#br_div').show()
        },
      });
 })
</script>

<script>
$('#showAgentDtls').hide()
$('#submitBtn').click(function () {
  var branch = $('#branch').val();
  var bank = $('#bank').val();
  // // console.log({ bank_id: bank, branch_id: branch });
$('#showAgentDtls').show()
generate_agent_list(bank,branch);
});

function generate_agent_list(bank, branch){
$.ajax({
    type: "POST",
    url: "/super-admin/reset_agent",
    data: { bank_id: bank, branch_id: branch},
    success: function(response) {
      // // console.log(response);
      // // console.log(response.SUCCESS.branchData.msg)
      $('#showAgentDtls tbody').empty()
      let i = 1;
      
      if(response.suc > 0 && response.msg.length > 0)
        response.msg.forEach(function(resData) {
      // // console.log(resData);
            $('#showAgentDtls tbody').append(`
            <tr>
              <td>${i}</td>
              <td>${resData.agent_code}</td>
              <td>${resData.agent_name}</td>
              <td>${resData.phone_no}</td>
              <td><button id="btn_${i}" class="btn btn-info" style="margin-left: 16px;" title="Reset Password" onclick="generateAlphanumeric(${i}, ${resData.agent_code})"><i class="fa fa-refresh"></i></button></td>
              <td><input
                type="text"
                name="inputBox"
                class="form-control"
                id="inputBox_${i}"
                maxlength="4"
                readonly
                style="width: 6vw;font-size:20px"
              /></td>  
            </tr>
            `)
            i++;
        });
      else{
        $('#showAgentDtls tbody').append(`
          <tr>
            <td colspan="5" class="text-danger text-center">No data found</td>
          </tr>
        `)
      }

    },
  error: function (error) {
    // // console.log(error);
  //   tbody.empty();
  //  $("#myBtn").hide()
  },
});
}
</script>

<script>
function generateAlphanumeric(id, agentId) {
  if(confirm('Do you want to change password parmently?')){
    // Define the characters allowed in the alphanumeric string
    const characters = '0123456789';

    // Set the desired length of the alphanumeric string
    const length = 4;

    let result = '';
    for (let i = 0; i < length; i++) {
        // Generate a random index to pick a character from the defined set
        const randomIndex = Math.floor(Math.random() * characters.length);
        result += characters.charAt(randomIndex);
    }

    // Display the generated alphanumeric string in the input field
    $(`#inputBox_${id}`).val(result)
    $(`#btn_${id}`).attr('disabled', 'disabled')
    // document.getElementById('inputBox1').value = result;

    // document.getElementById("btn").disabled = true;

    $.ajax({
        type: "POST",
        url: "/super-admin/reset_agent_pin",
        data: { agent_code: agentId, pass: result },
        success: function(response) {
          // console.log(response);
          if(response.suc > 0){
            alert('Password has changed successfully..')
          }else{
            alert('Something went wrong')
            // console.log(response.msg);
          }
        },
        error: function (error) {
          // console.log(error);
        //   tbody.empty();
        },
      })
  }
}
</script>