<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-12">
      <div class="card-body">
        <div class="titleSec">
          <button type="button" class="btn btn-primary" id="myBtn">Add</button>
          <h2>Active Agent</h2>
        </div>
        <div class="row">
          <div class="form-group col-4">
            <label for="bank"><b>Bank Name:</b></label>
            <select name="bank"
            class="form-control"
            id="bank"
            required>
              <option value="">Select Bank Name</option>
              <% bank.msg.forEach(function(item2,index) { %>
                <option value="<%=item2.bank_id%>"><%=item2.bank_name%></option>
                <% }); %>
                
            </select>
          </div>
         
          <div class="form-group col-4">
            <label for="branch"><b>Branch Name:</b></label>
            <select name="branch"
            class="form-control"
            id="branch"
            required>
              <option value="">Select Branch Name</option>
            </select>
          </div>
           
          <div class="form-group col-4" style="margin-top: 29px;">
            <button class="btn btn-outline-success" type="button" id="submitBtn">Submit</button>
          </div>

        <!-- <div class="col-12 form-group row" id="bank_info">
          <div class="col-6">
          <div class="form-group row">
            <label for="showAgentname" class="col-sm-3 col-form-label">Total User:</label>
            <div class="col-sm-9">
              <p class="form-control-plaintext" id="no_of_users"></p>
            </div>
          </div>
          </div>
        </div> -->
      </div>

      <div class="row">
        <div class="form-group col-2">
          <input type="radio" name="status" id="active" value="Y" checked>
          <label for="active">Active</label>
        </div>
        
        <div class="form-group col-2">
          <input type="radio" name="status" id="inactive" value="N">
          <label for="inactive">Inactive</label>
        </div>

  
      </div>
        <!-- <input type="file" name="myFile" class="" id="pctxFile"> -->
        <table class="table table_bank" id="showAgentDtls" style="width:100%">
          <thead>
            <tr>
              <th>Sl. No.</th>
              <th>Agent Code</th>
              <th>Agent Name</th>
              <th>Mobile</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Agent Details</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/super-admin/add_agent" method="post" id="myForm">
          <div class="row">
            <div class="col-md-12" id="userLimit" style="display: none;">
              <label class="text-danger">*User limit exceeded.</label>
            </div>
            <div class="form-group col-6">
              <label for="bank"><b>Bank Name:</b></label>
              <select name="bank"
              class="form-control"
              id="bankModal"
              required>
                <option value="">Select Bank Name</option>
                <% bank.msg.forEach(function(item2,index) { %>
                  <option value="<%=item2.bank_id%>"><%=item2.bank_name%></option>
                  <% }); %>
                  
              </select>
            </div>
            <div class="form-group col-6">
              <label for="branch_c">Branch Code:</label>
              <input
                type="text"
                id="branch_c"
                name="branch_c"
                class="form-control"
                value=""
                required
              />
            </div>
              <div class="form-group col-6">
                <label for="agent_c">Agent Code:</label>
                <input type="text" id="agent_c" name="user_id" class="form-control" value="" required />
              </div>
              <div class="form-group col-6">
                <label for="name">Name:</label>
                <input
                id="name"
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value=""
                  required
                />
              </div>
              <div class="form-group col-6">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" value=""/>
              </div>
  
              <div class="form-group col-6">
                <label for="mobile">Mobile No.:</label>
                <input type="text" id="mobile" name="mobile" class="form-control" value="" required/>
              </div>
  
              <div class="form-group col-6">
                <label for="max_amt">MAX Allowable Collection Amount :</label>
                <input
                id="max_amt"
                  type="number"
                  name="max_amt"
                  class="form-control"
                  value=""
                  required
                />
              </div>
              <div class="form-group col-6">
                <label for="allow_collection_days">Max allowable no.of days :</label>
                <input
                  type="number"
                  name="allow_collection_days"
                  class="form-control"
                  id="allow_collection_days"
                  value=""
                  required
                />
              </div>
              <div class="form-group col-6">
                <label for="deviceId">Device Id. :</label>
                <input
                id="deviceId"
                  type="text"
                  name="device_id"
                  class="form-control"
                  value=""
                  required
                />
              </div>

              <div class="form-group col-6 cust-toggle" style="top: 30px;">
                <label for="success"></label>
                <input 
                type="checkbox" 
                value="Y" 
                id="myCheckbox" 
                data-toggle="toggle" 
                data-onstyle="success" 
                data-offstyle="danger" 
                data-on="Active" 
                data-off="Deactive" 
                name="agent_active"
                >
                
                </div>

                <div class="form-group col-6">
                  <label for="pin">Password:</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="pin"
                    maxlength="4"
                    required
                  />
                </div>
    
                <div class="form-group col-6">
                  <label for="cid">Confirm Password:</label>
                  <input
                    type="password"
                    name="confirmPassword"
                    class="form-control"
                    id="cid"
                    maxlength="4"
                    required
                  />
                </div>
             <div class="form-group col-3 center">
              <input id="ag_submit"
                type="submit"
                value="SUBMIT"
                class="btn btn-primary btn-block" style="margin-left: 32vw; display: none;"
              />
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#myBtn").click(function () {
      $("#myModal").modal();
      // $("#myBtn").hide()
    });
  });
</script>

<script>
  $('#bankModal').on('change', function(){
    var bankId=$(this).val();
    // alert(bank_id)
      $.ajax({
        type: "POST",
        url: "/super-admin/get_branch_name",
        data: { bank_id: bankId },
        success: function(response) {
          if((response.SUCCESS.branchData.max_user - response.SUCCESS.branchData.active_user) > 0){
            $('#userLimit').hide()
            $('#ag_submit').show()
          }else{
            $('#userLimit').show()
            $('#ag_submit').hide()
          }
        },
      error: function (error) {
        console.log(error);
      //   tbody.empty();
        // $("#myBtn").hide()
      },
    });
  })
</script>

<script>
  $('input[name="status"]').on('change', function(){
    var flag = $(this).val()
    console.log(flag);
    var branch = $('#branch').val();
    var bank = $('#bank').val();
    // console.log({ bank_id: bank, branch_id: branch });
  generate_agent_list(bank,branch,flag);
})
</script>

<script>
  // $("#myBtn").hide()
  $('#bank').change(function(){
    var bankId=$(this).val();
    // alert(bank_id)
      $.ajax({
          type: "POST",
          url: "/super-admin/get_branch_name",
          data: { bank_id: bankId },
          success: function(response) {
            // console.log(response.SUCCESS.branchData.msg)
           $('#branch').empty();
           $('#branch').append(`<option value="">Select Branch Name</option>`)

           if((response.SUCCESS.branchData.max_user - response.SUCCESS.branchData.active_user) > 0){
            $('#ag_submit').show()
          }else{
            $('#ag_submit').hide()
           }
           
            response.SUCCESS.branchData.msg.forEach(function(resData) {
                $('#branch').append('<option value="' + resData.branch_code + '">' + resData.branch_name + '</option>');
            });
        $("#myBtn").show()
           
          },
        error: function (error) {
          // console.log(error);
        //   tbody.empty();
        //  $("#myBtn").hide()
        },
      });
  });
     
</script>

<script>
  // $("#myBtn").hide()
  $('#submitBtn').click(function () {
    var branch = $('#branch').val();
    var bank = $('#bank').val();
    // console.log({ bank_id: bank, branch_id: branch });
  generate_agent_list(bank,branch,'Y');
});

function generate_agent_list(bank, branch, flag){
  $.ajax({
      type: "POST",
      url: "/super-admin/agent_data",
      data: { bank_id: bank, branch_id: branch, flag: flag },
      success: function(response) {
        // console.log(response);
        // console.log(response.SUCCESS.branchData.msg)
        $('#showAgentDtls tbody').empty()
        let i = 1;
        if(response.suc > 0 && response.msg.length > 0)
          response.msg.forEach(function(resData) {
        // console.log(resData);
              $('#showAgentDtls tbody').append(`
              <tr>
                <td>${i}</td>
                <td>${resData.agent_code}</td>
                <td>${resData.agent_name}</td>
                <td>${resData.phone_no}</td>
                <td><a href="/super-admin/edit_agent?agent_id=${resData.agent_id}" class="btn btn-info">Edit</a></td>
              </tr>
              `)
              i++;
          });
        else{
          $('#showAgentDtls tbody').append(`
            <tr>
              <td colspan="5" class="text-danger text-center">No data found</td>
            </tr>
          `)
        }

      },
    error: function (error) {
      // console.log(error);
    //   tbody.empty();
    //  $("#myBtn").hide()
    },
  });
}
</script>








