<%
        function getCurrentDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0');
            const day = String(today.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        const currentDate = getCurrentDate();
    %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-12">
      <div class="card-body">
        <div class="titleSec">
          <!-- <button type="button" class="btn btn-primary">Export as CSV</button> -->
          <h2>DOWNLOAD PCRX</h2>
        </div>
        <!-- <input type="file" name="myFile" class="" id="pctxFile"> -->
        <div class="row">
          <div class="col-sm-12 row">
            <div class="form-group col-4">
              <label for="agent">From Date:</label>
              <input type="date" name="fdate" class="form-control" id="fdate" value="<%= currentDate %>"/>
            </div>
            <div class="form-group col-4">
              <label for="agent">To Date:</label>
              <input type="date" name="tdate" class="form-control" id="tdate" value="<%= currentDate %>"/>
            </div>
            <div class="form-group col-4">
              <label for="file_format">File Format:</label>
              <select name="file_format" class="form-control" id="file_format">
                <option value="T" <%= user.user_data.msg[0].pcrx_format == 'T' ? 'selected' : '' %>>TEXT (.txt)</option>
                <option value="C" <%= user.user_data.msg[0].pcrx_format == 'C' ? 'selected' : '' %>>CSV (.csv)</option>
              </select>
            </div>

            <table class="table pcrxTable">
              <thead>
                <tr>
                  <th>Sl. No.</th>
                  <th>Agent Name</th>
                  <th>Date</th>
                  <th>Trans No</th>
                  <th>Total Amount</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <!-- <div class="form-group col-12">
              <input
                type="submit"
                value="DOWNLOAD PCRX"
                class="btn btn-primary btn-block"
                id="downloadButton"
              />
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var tbody = $(".pcrxTable tbody");


  function formatDate(date) {
    var date = new Date(date);
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();
    if (day < 10) {
      day = "0" + day;
    }
    if (month < 10) {
      month = "0" + month;
    }
    return day + "/" + month + "/" + year;
  }

  

  $("#fdate").change(function () {
    transitionNumber();
  });

  $("#tdate").change(function () {
    transitionNumber();
  });

  $("#file_format").change(function () {
    transitionNumber();
  });

  $(".dwnbtn").click(function(){
    transitionNumber();
  });

  function transitionNumber() {
    var fDate = $("#fdate").val();
    var tDate = $("#tdate").val();
    var agentcode = $("#agCode").val();
    $("#transitionNumber option:not(:first)").remove();
    $.ajax({
      type: "POST",
      url: "/admin/fetch_trans_number",
      data: {fDate: fDate, tDate: tDate },
      success: function (response) {
        // console.log(response.SUCCESS);

        // console.log(response.SUCCESS);
        tbody.empty();
        response.SUCCESS.msg.forEach(function (item, index) {
          var row =
            "<tr>" +
            "<td>" +
            (index + 1) +
            "</td>" +
            "<td>" +
            item.agent_name +
            "</td>" +
            "<td>" +
              formatDate(item.received_date) +
            "</td>" +
            "<td>" +
            item.agent_trans_no +
            "</td>" +
            "<td>" +
            item.amount +
            "</td>" +
            "<td>" +
              '<a href="/admin/download_pcrx_file?agent_code=' + item.agent_code + '&fDate=' + fDate + '&tDate=' + tDate + '&transaction_number=' + item.agent_trans_no + '&format='+$('#file_format').val()+'" class="dwnbtn btn btn-' + (item.download_flag == "Y" ? "danger" : "primary") + '"><i class="fa fa-download"></i> Download</a>' +
            "</td>" +
            "</tr>";
          tbody.append(row);
        });
      },
      error: function (error) {
        // console.log(error);
        $("#transitionNumber option:not(:first)").remove();
      },
    });
  }


  transitionNumber();
</script>
