<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-10">
      <div class="card-body">
        <div class="titleSec">
          <!-- <button type="button" class="btn btn-primary">Export as CSV</button> -->
          <h2>UPLOAD PCTX</h2>
        </div>
        <!-- <input type="file" name="myFile" class="" id="pctxFile"> -->
        <div class="row">
          <div class="form-group col-12 progressbar_viw">
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                id="progressBar"
                class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                style="width: 0%"
              ></div>
            </div>
          </div>

          <!-- <div class="progress">
                <progress class="progress-bar" id="progressBar" value="0" max="100"></progress>
              </div> -->

          <div class="col-sm-12 row">
            <div class="form-group col-12">
              <label for="agent">Select Agent:</label>
              <select name="" class="form-control s2id" id="agent2">
                <option value="">Select Agent</option>

                <% data.forEach(function(item) { %>
                <option value="<%= item.user_id %>"><%= item.user_id %>, <%= item.agent_name %></option>

                <% }); %>
              </select>
            </div>

            <div class="col-6 form-group agent_info" id="agent_info">
              <div class="form-group row">
                <label for="showAgentname" class="col-sm-3 col-form-label"
                  >Name:</label
                >
                <div class="col-sm-9">
                  <p class="form-control-plaintext" id="showAgentname"></p>
                </div>
              </div>
              <div class="form-group row">
                <label for="showBranch" class="col-sm-3 col-form-label"
                  >Branch:</label
                >
                <div class="col-sm-9">
                  <p id="showBranch" class="form-control-plaintext"></p>
                </div>
              </div>

              </div>


              <div class="col-6 form-group agent_info" id="agent_info">
                <% if(user.user_data.msg[0].sec_amt_type=='A'){ %>
                <div class="form-group row">
                  <label for="account_no" class="col-sm-3 col-form-label"
                    >Account No:</label
                  >
                  <div class="col-sm-9">
                    <p class="form-control-plaintext" id="showAccountno"></p>
                  </div>
                </div>
                <% } %>
                <div class="form-group row">
                  <label for="maxAllColAmt" class="col-sm-3 col-form-label"
                    >Allowable Collection Amount:</label
                  >
                  <div class="col-sm-9">
                    <p id="maxAllColAmt" class="form-control-plaintext"></p>
                  </div>
                </div>
  
                </div>




              <div class="col-12 form-group agent_info" id="agent_info">
              <div class="form-group row">
                <label for="showAgent" class="col-sm-3 col-form-label"
                  >Agent Code:</label
                >
                <div class="col-sm-9">
                  <p id="showAgent" class="form-control-plaintext"></p>
                </div>
              </div>

              <div class="form-group row">
                <label for="showPhone_no" class="col-sm-3 col-form-label"
                  >Mobile No:</label
                >
                <div class="col-sm-9">
                  <p id="showPhone_no" class="form-control-plaintext"></p>
                </div>
              </div>
            </div>


            <div class="form-group col-12">
              <input
                type="submit"
                value="Populate Data"
                class="btn btn-primary btn-block"
                id="uploadButton"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".loader_div").hide();
    $("#uploadButton").attr("disabled", true);
    $(".progressbar_viw").hide();
    $("#progressBar").css("width", "0%");
    $("#uploadButton").click(function () {
      $("#uploadButton").attr('disabled',true);
      $(".loader_div").show();
      var agent_code = $("#agent2").val();




//===========================



      $.ajax({
        type: "POST",
        url: "/admin/check_sync_data",
        data: JSON.stringify({ agent_code: agent_code }),
        contentType: "application/json",
        success: function (response) {
          console.log(response);

          if(response){

            
            $.ajax({
              type: "POST",
              url: "/admin/check_and_collection",
              data: JSON.stringify({ agent_code: agent_code }),
              contentType: "application/json",
              success: function (response) {
                console.log(response);
                if (response >= 1) {
                  $(".loader_div").hide();
                  //alert("Not terminating in collection, an agent");
                  Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data already uploaded.Collection in progress ! !",
                  });
                  $("#uploadButton").attr('disabled',false);
                } else {
                  delete_agent_oldData()
                }
              },
              error: function (error) {
                console.log(error);
                $("#uploadButton").attr('disabled',false);
              },
            });
          }else{
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Previous data has not been posted in Banking Application!!",
            });
            $(".loader_div").hide();
            $("#uploadButton").attr('disabled',false);
          }
        },
        error: function (error) {
          console.log(error);
        },
      });


     
    });

    
   
   function fitchDatabase(){
    var agent_id = $("#agent2").val();

    $.ajax({
      type: "POST",
      url: "/admin/fetchdata_to_server",
      data: { agent_code: agent_id },
      success: function (response) {
        $(".loader_div").hide();
        console.log(response);
        insert_agent_trans()
        Swal.fire("SUCCESS","Data upload Successful","success").then((result) => {
            
            });
            $("#uploadButton").attr('disabled',false);

      },
      error: function (error) {
        console.log(error);
        $("#agent2_info").hide();

        Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Data Not uploaded.Collection failed !",
            });
            $("#uploadButton").attr('disabled',false);
      },
    });

   }





   function insert_agent_trans() {
    var agent_id = $("#agent2").val();
    $.ajax({
      type: "POST",
      url: "/admin/create_agent_trans",
      data: { agent_code: agent_id },
      success: function (response) {
        console.log(response);
      },
      error: function (error) {
        console.log(error);
      },
    });
  }







    $(".agent_info").hide();
    $("#agent2").change(function () {
      var agent_id = $(this).val();

      $("#showAgentname").text("");
      $("#showBranch").text("");
      $("#showAgent").text("");
      $("#showPhone_no").text("");
      $(".agent_info").hide();

      $.ajax({
        type: "POST",
        url: "/admin/agent_info",
        data: { agent_code: agent_id },
        success: function (response) {
          console.log(response);
          $(".agent_info").show();
          $("#showAgentname").text(response.SUCCESS.msg[0].agent_name);
          $("#showBranch").text(response.SUCCESS.msg[0].branch_name);
          $("#showAgent").text(response.SUCCESS.msg[0].user_id);
          $("#showPhone_no").text(response.SUCCESS.msg[0].phone_no);
          $("#maxAllColAmt").text(response.SUCCESS.msg[0].max_amt);
          <% if(user.user_data.msg[0].sec_amt_type=='A'){ %>
            if(response.SUCCESS.msg[0].account_no){
              $("#showAccountno").text(response.SUCCESS.msg[0].account_no);
              
              maxAllowableCollectionAmount(response.SUCCESS.msg[0].account_no,agent_id)
            }
          
          <% } %>


          $(".agent_info").show();
          $("#uploadButton").attr("disabled", false);

          
        },
        error: function (error) {
          console.log(error);
          $(".agent_info").hide();
        },
      });
    });
    function maxAllowableCollectionAmount(account_no,agent_id){
      $(".loader_div").show();
      $.ajax({
        type: "POST",
        url: "/admin/update_agent_amount",
        data: { account_no: account_no,agent_id:agent_id },
        success: function (response) {
          $(".loader_div").hide();
          $("#maxAllColAmt").text(response.CLR_BAL);
          console.log("=================",response);
        },
        error: function (error) {
          $(".loader_div").hide();
          console.log(error);
          $(".agent_info").hide();
        },
      }); 
    }
    function delete_agent_oldData() {
      var agent_id = $("#agent2").val();
      $.ajax({
        type: "POST",
        url: "/admin/del_all_pctx_file_data",
        data: { agent_code: agent_id },
        success: function (response) {
          fitchDatabase();
          console.log(response);
        },
        error: function (error) {
          console.log(error);
        },
      });
    }
  });
</script>
