<div class="main-panel">
    <div class="content-wrapper">
      <div class="card col-12">
        <div class="card-body">
          <div class="titleSec">
            <button type="button" class="btn btn-primary" id="myBtn">Add</button>
            <h2>Header & Footer</h2>
          </div>
          <div class="row">
            <div class="form-group col-7">
              <label for="bank"><b>Bank Name:</b></label>
              <select name="bank"
              class="form-control"
              id="bank"
              required>
                <option value="">Select Bank Name</option>
                <% data.msg.forEach(function(item2,index) { %>
                  <option value="<%=item2.bank_id%>"><%=item2.bank_name%></option>
                  <% }); %>
                  
              </select>
            </div> 
        </div>
        <table class="table table-striped table-bordered show_data" style="width:100%">
          <thead>
            <tr>
              <th>Sl. No.</th>
              <th>Bank Name</th>
              <th>Header1 Flag</th>
              <th>Header2 Flag</th>
              <th>Header3 Flag</th>
              <th>Header4 Flag</th>
              <th>Footer1 Flag</th>
              <th>Footer2 Flag</th>
              <th>Footer3 Flag</th>
              <th>Footer4 Flag</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Header & Footer</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/super-admin/add_header_footer" method="post" id="myForm">
            <div class="row">
              <div class="form-group col-9">
                <label for="bank_id">Bank Name:</label>
                <select name="bank_id"
                class="form-control"
                id="bank_id"
                required>
                  <option value="">Select Bank Name</option>
                  <option value="">Select Bank Name</option>
                  <% data.msg.forEach(function(item2,index) { %>
                    <option value="<%=item2.bank_id%>"><%=item2.bank_name%></option>
                    <% }); %>
                    
                </select>
              </div>

              <div class="col-md-9">
                <div class="form-group">
                <label for="header_1"><b>Header 1</b>&nbsp;&nbsp;<span id="charCount1" class="char-count"><b>(0/25)</b></span></label>
                <textarea class="form-control" id="header_1" name="header_1" rows="2" placeholder="Enter Header1...." maxlength="25" oninput="updateCharCount('header_1','charCount1')"></textarea>
                
              
                </div>
            </div>
            <div class="col-md-3 cust-toggle1">
                <label for="header_1_flag"><b>Header 1 Flag</b></label><br>
                <input 
                type="checkbox" 
                value="Y" 
                id="header_1_flag" 
                data-toggle="toggle" 
                data-onstyle="success" 
                data-offstyle="danger" 
                data-on="Active" 
                data-off="Deactive" 
                name="header_1_flag"
                >
                </div>

            <div class="col-md-9">
                <div class="form-group">
                <label for="header_2"><b>Header 2</b>&nbsp;&nbsp;<span id="charCount2" class="char-count"><b>(0/25)</b></span></label>
                <textarea class="form-control" id="header_2" name="header_2" rows="2" placeholder="Enter Header2...." maxlength="25" oninput="updateCharCount('header_2','charCount2')"></textarea>
                </div>
            </div>
            <div class="col-md-3 cust-toggle1">
              <label for="header_2_flag"><b>Header 2 Flag</b></label><br>
              <input 
              type="checkbox" 
              value="Y" 
              id="header_2_flag" 
              data-toggle="toggle" 
              data-onstyle="success" 
              data-offstyle="danger" 
              data-on="Active" 
              data-off="Deactive" 
              name="header_2_flag"
              >
              </div>

            <div class="col-md-9">
                <div class="form-group">
                <label for="header_3"><b>Header 3</b>&nbsp;&nbsp;<span id="charCount3" class="char-count"><b>(0/25)</b></span></label>
                <textarea class="form-control" id="header_3" name="header_3" rows="2" placeholder="Enter Header3...." maxlength="25" oninput="updateCharCount('header_3','charCount3')"></textarea>
                </div>
            </div>

            <div class="col-md-3 cust-toggle1">
              <label for="header_3_flag"><b>Header 3 Flag</b></label><br>
              <input 
              type="checkbox" 
              value="Y" 
              id="header_3_flag" 
              data-toggle="toggle" 
              data-onstyle="success" 
              data-offstyle="danger" 
              data-on="Active" 
              data-off="Deactive" 
              name="header_3_flag"
              >
              </div>
            
            <div class="col-md-9">
                <div class="form-group">
                <label for="header_4"><b>Header 4</b>&nbsp;&nbsp;<span id="charCount4" class="char-count"><b>(0/25)</b></span></label>
                <textarea class="form-control" id="header_4" name="header_4" rows="2" placeholder="Enter Header4...." maxlength="25" oninput="updateCharCount('header_4','charCount4')"></textarea>
                </div>
            </div>

            <div class="col-md-3 cust-toggle1">
              <label for="header_4_flag"><b>Header 4 Flag</b></label><br>
              <input 
              type="checkbox" 
              value="Y" 
              id="header_4_flag" 
              data-toggle="toggle" 
              data-onstyle="success" 
              data-offstyle="danger" 
              data-on="Active" 
              data-off="Deactive" 
              name="header_4_flag"
              >
              </div>

            <div class="col-md-9">
                <div class="form-group">
                <label for="footer_1"><b>Footer 1</b>&nbsp;&nbsp;<span id="charCount5" class="char-count"><b>(0/25)</b></span></label>
                <textarea class="form-control" id="footer_1" name="footer_1" rows="2" placeholder="Enter Footer1...." maxlength="25" oninput="updateCharCount('footer_1','charCount5')"></textarea>
                </div>
            </div>

            <div class="col-md-3 cust-toggle1">
              <label for="footer_1_flag"><b>Footer 1 Flag</b></label><br>
              <input 
              type="checkbox" 
              value="Y" 
              id="footer_1_flag" 
              data-toggle="toggle" 
              data-onstyle="success" 
              data-offstyle="danger" 
              data-on="Active" 
              data-off="Deactive" 
              name="footer_1_flag"
              >
              </div>

            <div class="col-md-9">
                <div class="form-group">
                <label for="footer_2"><b>Footer 2</b>&nbsp;&nbsp;<span id="charCount6" class="char-count"><b>(0/25)</b></span></label>
                <textarea class="form-control" id="footer_2" name="footer_2" rows="2" placeholder="Enter Footer2...." maxlength="25" oninput="updateCharCount('footer_2','charCount6')"></textarea>
                </div>
            </div>

            <div class="col-md-3 cust-toggle1">
              <label for="footer_2_flag"><b>Footer 2 Flag</b></label><br>
              <input 
              type="checkbox" 
              value="Y" 
              id="footer_2_flag" 
              data-toggle="toggle" 
              data-onstyle="success" 
              data-offstyle="danger" 
              data-on="Active" 
              data-off="Deactive" 
              name="footer_2_flag"
              >
              </div>

            <div class="col-md-9">
                <div class="form-group">
                <label for="footer_3"><b>Footer 3</b>&nbsp;&nbsp;<span id="charCount7" class="char-count"><b>(0/25)</b></span></label>
                <textarea class="form-control" id="footer_3" name="footer_3" rows="2" placeholder="Enter Footer3...." maxlength="25" oninput="updateCharCount('footer_3','charCount7')"></textarea>
                </div>
            </div>

            <div class="col-md-3 cust-toggle1">
              <label for="footer_3_flag"><b>Footer 3 Flag</b></label><br>
              <input 
              type="checkbox" 
              value="Y" 
              id="footer_3_flag" 
              data-toggle="toggle" 
              data-onstyle="success" 
              data-offstyle="danger" 
              data-on="Active" 
              data-off="Deactive" 
              name="footer_3_flag"
              >
              </div>

            <div class="col-md-9">
                <div class="form-group">
                <label for="footer_4"><b>Footer 4</b>&nbsp;&nbsp;<span id="charCount8" class="char-count"><b>(0/25)</b></span></label>
                <textarea class="form-control" id="footer_4" name="footer_4" rows="2" placeholder="Enter Footer4...." maxlength="25" oninput="updateCharCount('footer_4','charCount8')"></textarea>
                </div>
            </div>

            <div class="col-md-3 cust-toggle1">
              <label for="footer_4_flag"><b>Footer 4 Flag</b></label><br>
              <input 
              type="checkbox" 
              value="Y" 
              id="footer_4_flag" 
              data-toggle="toggle" 
              data-onstyle="success" 
              data-offstyle="danger" 
              data-on="Active" 
              data-off="Deactive" 
              name="footer_4_flag"
              >
              </div>

            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <input
                      type="submit"
                      value="SUBMIT"
                      class="btn btn-primary btn-block" style="margin-left: 32vw;"
                    />
                  </div>
              </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#myBtn").click(function () {
        $("#myModal").modal();
        // $("#myBtn").hide()
      });
    });
  </script>

  <script>
  //  $("#myBtn").hide()
    $('#bank').change(function(){
    //  $("#myBtn").show()
     })

  </script>

<script>
  // $('.show_data').hide()
  $('#bank').change(function () {
    var bank_id = $(this).val()
    var tbody = $(".show_data tbody");
    $.ajax({
      type: "GET",
      url: "/super-admin/show_header_footer",
      data: { bank_id: bank_id },
      success: function (response) {
        tbody.empty();
        if (response.suc > 0 && response.msg.length > 0)
          response.msg.forEach(function (item, index) {
        var flag='Y';
            var row =
              "<tr>" +
              "<td>" +
              (index + 1) +
              "</td>" +
              "<td>" +
              item.bank_name +
              "</td>" +
              "<td>" +
              "<h5><span class='badge " + (item.header_1_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
              (item.header_1_flag == flag ? 'Active' : 'Deactive') +
              "</h5></span>" +
              "</td>" +
              "<td>" +
              "<h5><span class='badge " + (item.header_2_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
              (item.header_2_flag == flag ? 'Active' : 'Deactive') +
              "</h5></span>" +
              "</td>" +
              "<td>" +
              "<h5><span class='badge " + (item.header_3_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
              (item.header_3_flag == flag ? 'Active' : 'Deactive') +
              "</h5></span>" +
              "</td>" +
              "<td>" +
              "<h5><span class='badge " + (item.header_4_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
              (item.header_4_flag == flag ? 'Active' : 'Deactive') +
              "</h5></span>" +
              "</td>" +
              "<td>" +
              "<h5><span class='badge " + (item.footer_1_flag == flag ?  'badge-success' : 'badge-danger') + "'>" + 
              (item.footer_1_flag == flag ? 'Active' : 'Deactive') +
              "</h5></span>" +
              "</td>" +
              "<td>" +
              "<h5><span class='badge " + (item.footer_2_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
              (item.footer_2_flag == flag ? 'Active' : 'Deactive') +
              "</h5></span>" +
              "</td>" +
              "<td>" +
                "<h5><span class='badge " + (item.footer_3_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
              (item.footer_3_flag == flag ? 'Active' : 'Deactive') +
              "</h5></span>" +
              "<td>" +
                "<h5><span class='badge " + (item.footer_4_flag == flag ?  'badge-success' : 'badge-danger') + "'>" +
                (item.footer_4_flag == flag ? 'Active' : 'Deactive') +
                "</h5></span>" +
              "</td>" +
              "<td><a href='/super-admin/edit_header_footer?bank_id="+item.bank_id+"' class='btn btn-info'>Edit</a></td>" +
              "</tr>";
            tbody.append(row);
            // $('.show_data').show()
         });
        else {
          $('.show_data tbody').append(`
            <tr>
              <td colspan="11" class="text-danger text-center">No data found</td>
            </tr>
          `)
        }

      },
      error: function (error) {
        // console.log(error);
        tbody.empty();
        // $('.show_data').hide()
        
      },
    });

  });
</script>

<script>
  function updateCharCount(textareaId, countId) {
    var textarea = document.getElementById(textareaId);
    var charCount = document.getElementById(countId);

    if (textarea && charCount) {
    var count = textarea.value.length;
    charCount.innerHTML  ='<span style="font-weight: bold;">(' + count + '/25)</span>';
  }
}
</script>