<nav class="sidebar sidebar-offcanvas bodyLeftMenu desktop_nav" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fa fa-dashboard" aria-hidden="true"></i>
        <span class="menu-title"><b>Dashboard</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <hr />
    
    <!-- <p>User</p> -->
    
    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/bank">
        <i class="fa fa-bank" aria-hidden="true"></i>
        <span class="menu-title"><b>Bank</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>
<hr>

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/branch_admin">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title"><b>Branch</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>
  
   <hr>
   
   <li class="nav-item active">
    <a class="nav-link" href="/super-admin/agent">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="menu-title"><b>Agent</b></span>
      <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
    </a>
  </li>
    

    <hr />
    <p class="mt-2" style="margin-left: 1vw;"><b>Report</b></p>
     <hr>

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/report">
        <i class="fa fa-file" aria-hidden="true"></i>
        <span class="menu-title"><b>Summary Report</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>
    <hr>
    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/collection_report">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <span class="menu-title"><b>Collection Report</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>
   <hr>
   <li class="nav-item active">
    <a class="nav-link" href="/super-admin/collection_progress">
      <i class="fa fa-spinner" aria-hidden="true"></i>
      <span class="menu-title"><b>Collection In Progress</b></span>
      <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
    </a>
  </li>
  </ul>
</nav>

<!-- ===================responcive sidebar================== -->

<div class="resMenuPanel">
  <button class="resHambarClose">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <div class="topLeftSec res_topBar">
    <div class="logoTop">
      <img src="/admin_assets/images/logo_new.png" alt="" />
    </div>
  </div>
  <nav
    class="sidebar sidebar-offcanvas bodyLeftMenu responsiv_nav"
    id="sidebar"
  >
    <ul class="nav">
     
      <li class="nav-item active">
        <a class="nav-link" href="dashboard">
          <!--                <i class="fa fa-tachometer" aria-hidden="true"></i>-->
          <span class="menu-title">Dashboard</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>

      <hr />

      <li class="nav-item active">
        <a class="nav-link" href="employee">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span class="menu-title">Operator</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>

      
    </ul>
  </nav>
</div>
