<nav class="sidebar sidebar-offcanvas bodyLeftMenu desktop_nav" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/summary">
        <i class="fa fa-dashboard" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>Summary</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>

    <hr />
    
    <!-- <p>User</p> -->
    
    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/bank">
        <i class="fa fa-bank" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>Active Bank</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
<hr>

<li class="nav-item active">
  <a class="nav-link" href="/super-admin/inactive_bank">
    <i class="fa fa-ban" aria-hidden="true" style="margin-top: 3px;"></i>
    <span class="menu-title"><b>Inactive Bank</b></span>
    <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
  </a>
</li>

<hr>

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/branch_admin">
        <i class="fa fa-cogs" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>Branch</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
  
   <hr>
   
   <li class="nav-item active">
    <a class="nav-link" href="/super-admin/agent">
      <i class="fa fa-user" aria-hidden="true" style="margin-top: 3px;"></i>
      <span class="menu-title"><b>Agent</b></span>
      <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
    </a>
  </li>
    

    <hr />

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/logo">
        <i class="fa fa-upload" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>Upload Logo</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
    <hr>

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/header_footer">
        <i class="fa fa-header" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>Header & Footer</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
    <hr>

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/sms">
        <i class="fa fa-comment" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>SMS</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
    <hr>

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/about">
        <i class="fa fa-tablet" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>About</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
    <hr>

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/reset">
        <i class="fa fa-lock" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>Reset Password</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
    <hr>

    <p class="mt-2" style="margin-left: 1vw;"><strong style="font-weight: 500;">Report</strong></p>
     <hr>

    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/report">
        <i class="fa fa-file" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>Summary Report</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
    <hr>
    <li class="nav-item active">
      <a class="nav-link" href="/super-admin/collection_report">
        <i class="fa fa-file-text" aria-hidden="true" style="margin-top: 3px;"></i>
        <span class="menu-title"><b>Collection Report</b></span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
      </a>
    </li>
   <hr>
   <li class="nav-item active">
    <a class="nav-link" href="/super-admin/collection_progress">
      <i class="fa fa-spinner" aria-hidden="true" style="margin-top: 3px;"></i>
      <span class="menu-title"><b>Collection In Progress</b></span>
      <i class="fa fa-chevron-right arowRight" aria-hidden="true" style="margin-top: 5px;"></i>
    </a>
  </li>
  </ul>
</nav>

<!-- ===================responcive sidebar================== -->

<div class="resMenuPanel">
  <button class="resHambarClose">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <div class="topLeftSec res_topBar">
    <div class="logoTop">
      <img src="/admin_assets/images/logo_new.png" alt="" />
    </div>
  </div>
  <nav
    class="sidebar sidebar-offcanvas bodyLeftMenu responsiv_nav"
    id="sidebar"
  >
    <ul class="nav">
     
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <!--                <i class="fa fa-tachometer" aria-hidden="true"></i>-->
          <span class="menu-title">Dashboard</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>

      <hr />

      <li class="nav-item active">
        <a class="nav-link" href="employee">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span class="menu-title">Operator</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>

      
    </ul>
  </nav>
</div>
