<nav class="sidebar sidebar-offcanvas bodyLeftMenu desktop_nav" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="">
        <span class="menu-title">Dashboard</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <hr />
    <p>User</p>
    <li class="nav-item active">
      <a class="nav-link" href="/admin/agent">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Agent</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <hr />

    <li class="nav-item active">
      <a class="nav-link" href="/admin/upload_pctx">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Upload PCTX</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/admin/show_upload_account">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">View Account</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>


    <li class="nav-item active">
      <a class="nav-link" href="/admin/download_pcrx">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Download PCRX</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <!-- <hr />
    <p>Settings</p>
    <li class="nav-item active">
      <a class="nav-link" href="/admin/settings">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Agent Settings</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li> -->

    <hr />
    <p>Report</p>
    <!-- <li class="nav-item active">
      <a class="nav-link" href="/admin/individual_day_scroll_report">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Individual Day school report</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li> -->


    <li class="nav-item active">
      <a class="nav-link" href="/admin/day_scroll_report">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Agent wise Day scroll report</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

   


    

    <li class="nav-item active">
      <a class="nav-link" href="/admin/account_type_wise_report">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Account Type Wise Report</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/admin/summary_report">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Summary report</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <!-- <li class="nav-item active">
      <a class="nav-link" href="">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Operator</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li> -->

  </ul>
</nav>

<!-- ===================responcive sidebar================== -->

<div class="resMenuPanel">
  <button class="resHambarClose">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <div class="topLeftSec res_topBar">
    <div class="logoTop">
      <img src="/admin_assets/images/logo_new.png" alt="" />
    </div>
  </div>
  <nav
    class="sidebar sidebar-offcanvas bodyLeftMenu responsiv_nav"
    id="sidebar"
  >
    <ul class="nav">
     
      <li class="nav-item active">
        <a class="nav-link" href="dashboard">
          <!--                <i class="fa fa-tachometer" aria-hidden="true"></i>-->
          <span class="menu-title">Dashboard</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>

      <hr />

      <li class="nav-item active">
        <a class="nav-link" href="employee">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span class="menu-title">Operator</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>

      
    </ul>
  </nav>
</div>
