<nav class="sidebar sidebar-offcanvas bodyLeftMenu desktop_nav" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="">
        <span class="menu-title">Dashboard</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <hr />
    <li class="nav-item active">
      <a class="nav-link" href="/bank/branch">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Branch</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>
    <!-- <p>User</p> -->
    <li class="nav-item active">
      <a class="nav-link" href="/bank/agent">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Agent</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <% if(user.user_data.msg[0].max_day_entry_flag!='D'){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/col_days">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span class="menu-title">Agent Collection Days</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>
    <% } %>
    

    <hr />
    <p>Report</p>
    <li class="nav-item active">
      <a class="nav-link" href="/bank/day_scroll_report">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Day Scroll Report</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>


    

    <li class="nav-item active">
      <a class="nav-link" href="/admin/account_type_wise_report">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Account Type Wise Report</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li>

    <!-- <li class="nav-item active">
      <a class="nav-link" href="">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span class="menu-title">Operator</span>
        <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
      </a>
    </li> -->

  </ul>
</nav>

<!-- ===================responcive sidebar================== -->

<div class="resMenuPanel">
  <button class="resHambarClose">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <div class="topLeftSec res_topBar">
    <div class="logoTop">
      <img src="/admin_assets/images/logo_new.png" alt="" />
    </div>
  </div>
  <nav
    class="sidebar sidebar-offcanvas bodyLeftMenu responsiv_nav"
    id="sidebar"
  >
    <ul class="nav">
     
      <li class="nav-item active">
        <a class="nav-link" href="dashboard">
          <!--                <i class="fa fa-tachometer" aria-hidden="true"></i>-->
          <span class="menu-title">Dashboard</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>

      <hr />

      <li class="nav-item active">
        <a class="nav-link" href="employee">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span class="menu-title">Operator</span>
          <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
        </a>
      </li>

      
    </ul>
  </nav>
</div>
