<div class="main-panel">
    <div class="content-wrapper">
      <div class="card col-12">
        <div class="card-body">
          <div class="titleSec">
            <h2>Summary of Active & Inactive Agent Details</h2>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="bank"><b>Bank Name:</b></label>
              <select name="bank"
              class="form-control"
              id="bank"
              required>
                <option value="">Select Bank Name</option>
                <% data.msg.forEach(function(item2,index) { %>
                  <option value="<%=item2.bank_id%>"><%=item2.bank_name%></option>
                  <% }); %>
                  
              </select>
            </div>
           
            <!-- <div class="form-group col-4">
              <label for="branch"><b>Branch Name:</b></label>
              <select name="branch"
              class="form-control"
              id="branch"
              required>
                <option value="">Select Branch Name</option>
              </select>
            </div> -->
             
            <div class="form-group col-4" style="margin-top: 29px;">
              <button class="btn btn-outline-success" type="button" id="submitBtn">Submit</button>
            </div>
            </div>

        <div class="row mt-2">
            <div class="form-group col-12">
              <label for="active_user" id="inputField"><b>Active User:</b>&nbsp;&nbsp;<b><span class="badge badge-success" id="act_dt" style="font-size: 15px;"></span></b></label>
             
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
              <label for="inactive_user" id="input"><b>Inactive User:</b>&nbsp;&nbsp;<b><span class="badge badge-danger" id="inact_dt" style="font-size: 15px;"></span></b></label>
             
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <script>
    $('#bank').change(function(){
      var bankId=$(this).val();
      // alert(bank_id)
        $.ajax({
            type: "POST",
            url: "/super-admin/get_branch_name",
            data: { bank_id: bankId },
            success: function(response) {
              // // console.log(response.SUCCESS.branchData.msg)
             $('#branch').empty();
             $('#branch').append(`<option value="">Select Branch Name</option>`)
             
              response.SUCCESS.branchData.msg.forEach(function(resData) {
                  $('#branch').append('<option value="' + resData.branch_code + '">' + resData.branch_name + '</option>');
              });
             
            },
          error: function (error) {
            // console.log(error);
          //   tbody.empty();
          },
        });
    });
       
  </script> -->


<script>
    $('#submitBtn').click(function () {
      var branch = $('#branch').val();
      var bank = $('#bank').val();
      // console.log({ bank_id: bank, branch_id: branch });
      $.ajax({
        type: "POST",
        url: "/super-admin/total_user",
        data: { bank_id: bank},
        success: function(response) {
          // console.log(response);
          $('#act_dt').text(response.msg.act_dt)
          $('#inact_dt').text(response.msg.deact_dt)
        },
      error: function (error) {
        // console.log(error);
      },
    });
  });
  </script>