<div class="main-panel">
  <div class="content-wrapper">
    <div class="card col-8">
      <div class="card-body">
        <div class="titleSec">
          <!-- <button type="button" class="btn btn-primary">Export as CSV</button> -->
          <h2>Day scroll report</h2>
        </div>
        <!-- <input type="file" name="myFile" class="" id="pctxFile"> -->
        <div class="row">
          <form action="/admin/day_scroll_report_post" method="post">
            <div class="col-sm-12 row">
              <div class="form-group col-6">
                <label for="agent">Form Date:</label>
                <input type="date" name="from_date" class="form-control" value="<%=nowdate%>" required/>
              </div>

              <div class="form-group col-6">
                <label for="agent">To Date:</label>
                <input type="date" name="to_date" class="form-control" value="<%=nowdate%>" required/>
              </div>

              <div class="form-group col-12">
                <label for="agent">Select Agent:</label>
                <select name="agent_code" class="form-control s2id" id="agent_code" required>
                  <option value="">Select Agent</option>

                  <% data.forEach(function(item) { %>
                  <option value="<%= item.user_id %>">
                    <%= item.user_id %>
                  </option>

                  <% }); %>
                </select>
              </div>

              <div class="form-group col-12">
                <input
                  type="submit"
                  value="SUBMIT"
                  class="btn btn-primary btn-block"
                  id="downloadButton"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
